<!DOCTYPE html>
<html>
<head>
  <title>ManuAc</title>
  <meta charset="UTF-8">
  <meta name="description" content="Im Manu, a Software Engineer. I live in Bangalore and I am currently working as a full stack developer in Thrillophilia, an Indian Tours and Activities startup.">
  <meta name="keywords" content="Manu, ManuAc, Ac, Blog, Rvce, UL, Urban Ladder, Software Developer, Engineer, Ruby, Rails, C++">
  <meta name="author" content="ManuAc">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Header -->
  <%= render partial: 'layouts/header' %>

  <%= yield %>

  <!-- Footer -->
  <%= render partial: 'layouts/footer' %>

</body>
</html>
